.donation {
    padding: 80px 0 100px;
    background: $background-color-light;
}

.donation__flex {
    @extend %flex-alignment;
    justify-content: center;
}

.donation__info {
    max-width: 380px;
    padding-left: 30px;
}

.donation__title {
    max-width: 300px;
}

.donation__bank-name {
    margin: 0;
    @extend %font-primary;
    @include font($size: 1.5rem, $height: 1.7rem);
    color: $header-main-color;
    margin-top: 20px;
}

.donation__card {
    margin-top: 20px;
    padding: 10px 15px 10px 60px;
    @extend %font-primary;
    @include font($size: 2rem, $height: 2.3rem);
    color: $header-main-color;
    background-color: $primary-color;
    border-radius: 9px;
    position: relative;
    text-align: right;
}

.donation__card-img {
    position: absolute;
    left: 15px;
    top: 10px;
}

.donation__text {
    margin: 0;
    margin-top: 20px;
    @extend %font-additional;
    @include font($size: 1.2rem, $height: 1.8rem, $style: italic);
    color: $donation-text-color;
}