.pets {
    background-color: $background-color-light;
    padding: 80px 0 100px;
}

.pets__title {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.pets__mid {
    @extend %flex-alignment;
    padding-top: 60px;
}

.arrow {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid $btn-color-normal-active;
    color: $btn-text-color;
    font-size: 2rem;
    text-align: center;
}

.pets__card {
    background: $links-color-active-hover;
    border-radius: 9px;
    max-width: 270px;
    max-height: 435px;
}

.pets__card-name {
    @extend %font-primary;
    @include font($size: 2.0rem, $height: 2.3rem);
    color: $header-main-color;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

.pets__card-btn {
    max-width: 187px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid $btn-color-normal-active;
    margin-bottom: 30px;
}

.pets__bot {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.pets__button {
    max-width: 261px;
}