.pets {
    background-color: $background-color-light;
    padding: 80px 0 100px;
}

.pets__title {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.pets__mid {
    @extend %flex-alignment;
    flex-wrap: wrap;
    padding-top: 60px;
}

.element-3 {
    @include media-tablet {
        display: none;
    }
}

.element-2,
.element-3 {
    @include media-mobile {
        display: none;
    }
}
.pets__left-arrow {
    @include media-mobile {
        order: 2;
        margin-left: 58px;
    }
}
.pets__right-arrow {
    @include media-mobile {
        order: 3;
        margin-right: 58px;
    }
}

.arrow {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid $btn-color-normal-active;
    color: $btn-text-color;
    font-size: 2rem;
    text-align: center;
    background-color: inherit;
    @include media-mobile {
        margin-top: 20px;
    }
}

.pets__card {
    background: $links-color-active-hover;
    border-radius: 9px;
    max-width: 270px;
    max-height: 435px;
}

.pets__card-name {
    @extend %font-primary;
    @include font($size: 2.0rem, $height: 2.3rem);
    color: $header-main-color;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

.pets__card-btn {
    max-width: 187px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid $btn-color-normal-active;
    margin-bottom: 30px;
}

.pets__bot {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    @include media-mobile {
        margin-top: 42px;
    }
}

.pets__button {
    max-width: 261px;
    @include media-mobile {
        width: 260px;
        overflow: hidden;
    }
}

/* Our pets */
.our-pets__mid {
    padding-top: 30px;
    @include media-tablet {
        justify-content: space-evenly;
    }
}

.our-pets__card {
    margin-top: 30px;
}

.our-pets__bot {
    margin-top: 45px;
    @include media-mobile {
        margin-top: 42px;
    }
}

.our-pets-element-7,
.our-pets-element-8 {
    @include media-tablet {
        display: none;
    };
}

.our-pets-element-4,
.our-pets-element-5,
.our-pets-element-6 {
    @include media-mobile {
        display: none;
    }
}

.our-pets {
    @include media-tablet {
        padding-bottom: 76px;
    }
    @include media-mobile {
        padding: 42px 0;
    }
}

.our-pets__title {
    @include media-mobile {
        @include font($size: 2.5rem, $height: 3.2rem);
    }
}

.our-pets__mid {
    @include media-mobile {
        padding-top: 12px;
    }
}