.start-screen {
    margin-top: 60px;
}

.start-screen__flex {
    @extend %flex-alignment;
}

.start-screen__info {
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-self: flex-start;
    padding-top: 163px;
    max-width: 460px;
}

.start-screen__title {
    @extend %font-primary;
    @include font($size: 4.4rem, $height: 5.7rem);
    color: $text-primary-color;
    max-width: 310px;
}

.start-screen__text {
    @extend %font-additional;
    @include font($size: 1.5rem, $height: 2.4rem);
    color: $links-text-color-normal;
    max-width: 460px;
    margin: 0;
}