//Buttons
$btn-color-normal-active: #F1CDB3;
$btn-color-hover: #FDDCC4;
$btn-text-color: #292929;


//Colors
$header-footer-bg-color: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
$primary-color: #F1CDB3;
$header-main-color: #545454;
$links-text-color-normal: #CDCDCD;
$links-color-active-hover: #FAFAFA;
$text-primary-color: #FFFFFF;
$title-primary-color: #4C4C4C;
$background-color-light: #F6F6F6;
$donation-text-color: #B2B2B2;


//Sizes
$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;