//Buttons
$btn-color-normal-active: #F1CDB3;
$btn-color-hover: #FDDCC4;
$btn-text-color: #292929;


//Colors
$primary-color: #F1CDB3;
$header-main-color: #545454;
$links-text-color-normal: #CDCDCD;
$links-color-active-hover: #FAFAFA;
$text-primary-color: #FFFFFF;
$title-primary-color: #4C4C4C;
$background-color-light: #F6F6F6;


//Sizes
$content-width: 1200px;