// Normalize
@import 'base/normalize';

// Abstract
@import "abstract/constants";
@import "abstract/mixins";
@import "abstract/placeholders";

//Base
@import "base/base";
@import "base/buttons";
@import "base/title";
@import "base/hamburger";
@import "base/pagination";
@import "base/modal";

//Layouts
@import "layouts/header";
@import "layouts/footer";
@import "layouts/wrapper";

//Components
@import "components/start-screen";
@import "components/about";
@import "components/pets";
@import "components/help";
@import "components/donation";