.footer {
    background: $header-footer-bg-color;
    padding-top: 40px;
}

.footer__flex {
    @extend %flex-alignment;
    flex-wrap: wrap;
}

.footer__content {
    height: 250px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
}

.footer__title {
    @include font($size: 3.5rem, $height: 4.5rem);
    color: $text-primary-color;
    width: 278px;
}

.footer__data {
    @include font($size: 2rem, $height: 2.3rem);
    color: $primary-color;
    display: flex;
    align-items: center;
}

.footer__data > img {
    padding-right: 20px;
}

@include media-tablet {
    .footer__img {
        padding-top: 65px;
        margin: 0 auto;
    }
    .footer__img > img {
        width: 260px;
        height: auto;
    }
}

/* Our pets */
.our-pets-footer {
    @include media-tablet {
        padding-top: 30px;
    }
}

.our-pets-footer__content {
    @include media-tablet {
        padding-top: 0;
    }
}

.our-pets-footer__contacts {
    @include media-tablet {
        padding-left: 34px;
    }
    @include media-mobile {
        padding-left: 0;
    }
}

.our-pets-footer__address {
    @include media-tablet {
        padding-right: 34px;
    }
}

.our-pets-footer__content:not(:first-child) {
    @include media-mobile {
        margin-top: 40px;
    }
}

.our-pets-footer__title {
    @include media-mobile {
        text-align: center;
    }
}

.our-pets-footer__data {
    @include media-mobile {
        margin: 0 auto;
    }
}