.header {
    padding: 60px 40px 0;
}

.header__flex {
    @extend %flex-alignment;
}

.header__nav-list {
    @extend %flex-alignment;
    gap: 35px;
}

.header__logo-top {
    @include font($size: 3.2rem, $height: 3.5rem);
    color: $primary-color;
}

.header__logo-bot {
    @extend %font-additional;
    @include font($size: 1.3rem, $height: 1.5rem);
    margin: 0;
    margin-top: 10px;
    color: $text-primary-color;
}

.header__nav-link {
    @extend %font-additional;
    @include font($size: 1.5rem, $height: 2.4rem);
    color: $links-text-color-normal;
    padding-bottom: 7px;
}

.header__nav-link:hover {
    @extend %transition;
    color: $links-color-active-hover;
}

.header__nav-link_active {
    border-bottom: 3px solid $btn-color-normal-active;
    color: $links-color-active-hover;
    cursor: default;
}