%hamburger__line {
    display: inline-block;
    background: $primary-color;
    height: 2px;
    width: 100%;
}

.hamburger {
    padding-top: 5px;
    margin-right: 43px;
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    @include media-mobile {
        display: inline-block;
    }
    &:before {
        @extend %hamburger__line;
        content: '';
        top: 0;
        left: 0;
    }
    &:after {
        @extend %hamburger__line;
        content: '';
        bottom: 0;
        left: 0;
    }
}

.hamburger__line {
    @extend %hamburger__line;
    top: calc(50% - 1px);
    left: 0;
}