.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    @extend %flex-alignment;
    justify-content: center;
}

.modal {
    width: 952px;
    height: 552px;
    color: $modal-text-color;
    margin: 0 auto;
    @include media-tablet {
        width: 682px;
        height: 402px;
    }
    @include media-mobile {
        width: 270px;
        height: 393px;
    }
}

.modal__content {
    width: 900px;
    height: 500px;
    background-color: $modal-bg-color;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    @extend %flex-alignment;
    @include media-tablet {
        width: 630px;
        height: 350px;
    }
    @include media-mobile {
        width: 240px;
        height: 341px;
    }
}

.modal__img {
    width: 500px;
    height: 500px;
    @include media-tablet {
        width: 350px;
        height: 350px;
    }
    @include media-mobile {
        display: none;
    }
}

.modal__info {
    width: 351px;
    height: 362px;
    margin: 50px 20px 88px 29px;
    @include media-tablet {
        width: 260px;
        height: 303px;
        margin: 10px 9px 37px 11px;
    }
    @include media-mobile {
        width: 220px;
        height: 321px;
        margin: 10px;
    }
}
.modal__title {
    @include font($size: 3.5rem, $height: 4.5rem);
    @include media-mobile {
        text-align: center;
    }
}

.modal__subtitle {
    @include font($size: 2rem, $height: 2.3rem);
    margin-top: 10px;
    @include media-mobile {
        text-align: center;
    }
}

.modal__text {
    @include font($size: 1.5rem, $height: 1.7rem);
    margin: 40px 0;
    @include media-tablet {
        @include font($size: 1.3rem, $height: 1.4rem);
        margin: 20px 0;
    }
    @include media-mobile {
        text-align: justify;
        letter-spacing: 0.06em;
    }
}

.modal__list {
    margin: 0;
}
.modal__item:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: $primary-color;
    margin-right: 10px;
}

.modal__item {
    margin-bottom: 10px;
}

.modal__item-bold {
    display: inline;
    @include font($size: 1.5rem, $height: 1.7rem, $weight: 700);
}

.modal__close-btn {
    width: 52px;
    height: 52px;
    border: 2px solid $btn-color-normal-active;
    border-radius: 100px;
    background-color: transparent;
    background: url('../../images/icons/close.png') no-repeat center;
    margin-left: auto;
    cursor: pointer;
}